# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables (VERY IMPORTANT for MySQL)
.env

# Flask instance folder
instance/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log