<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='delete.css') }}">
    
    <title>Delete Student</title>
</head>
<body>

    <form action="/delete" method="POST" class="delete-page">

        <h1>Delete Student Record</h1>

        <div class="input-group">
            <label>Enter Roll No</label>
            <input type="number" name="roll" required>
        </div>

        <button type="submit">Delete</button>

        <div class="links">
            <a href="/option">Back</a>
        </div>

    </form>

</body>
</html>